@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Light.eot');
    src: url('MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
        url('MyriadPro-Light.woff2') format('woff2'),
        url('MyriadPro-Light.woff') format('woff'),
        url('MyriadPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cocosignum Maiuscoletto';
    src: url('CocosignumMaiuscoletto-Regular.eot');
    src: url('CocosignumMaiuscoletto-Regular.eot?#iefix') format('embedded-opentype'),
        url('CocosignumMaiuscoletto-Regular.woff2') format('woff2'),
        url('CocosignumMaiuscoletto-Regular.woff') format('woff'),
        url('CocosignumMaiuscoletto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Regular.eot');
    src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('MyriadPro-Regular.woff2') format('woff2'),
        url('MyriadPro-Regular.woff') format('woff'),
        url('MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cocosignum Maiuscoletto';
    src: url('CocosignumMaiuscoletto-Light.eot');
    src: url('CocosignumMaiuscoletto-Light.eot?#iefix') format('embedded-opentype'),
        url('CocosignumMaiuscoletto-Light.woff2') format('woff2'),
        url('CocosignumMaiuscoletto-Light.woff') format('woff'),
        url('CocosignumMaiuscoletto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

